.overlay {
  position: fixed;
  background: url("images/background.png") repeat center center;
  background-size: cover;
  -webkit-animation: 50s backgroundScroll infinite linear;
  -moz-animation: 50s backgroundScroll infinite linear;
  -o-animation: 50s backgroundScroll infinite linear;
  -ms-animation: 50s backgroundScroll infinite linear;
  animation: 50s backgroundScroll infinite linear;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay img {
  width: 10rem;
}

.overlay p {
  color: #FFF;
  text-align: center;
  font: 2rem Lobster;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

.overlay .btn-wrap {
  margin: 0 auto;
  width: 200px;
  padding-top: 50px;
}

.overlay a {
  background: #e74c3c;
  color: #FFF;
  position: relative;
  padding: 15px;
  font-weight: 900 !important;
  text-transform: uppercase;
  border-radius: 5px;
  font: 14px lato;
  opacity: 0.8;
  letter-spacing: 1px;
  text-decoration: none;
  box-shadow: #c0392b 0px 7px 2px,#000 0px 8px 5px;
}

.overlay a:hover {
  opacity: 1;
}

.overlay a:active {
  top: 4px;
  box-shadow: #c0392b 0px 3px 2px,#000 0px 3px 5px;
}

@-webkit-keyframes backgroundScroll {
  100% {
    background-position: 0px -3000px;
  }
}

@-moz-keyframes backgroundScroll {
  100% {
    background-position: 0px -3000px;
  }
}

@-o-keyframes backgroundScroll {
  100% {
    background-position: 0px -3000px;
  }
}

@-ms-keyframes backgroundScroll {
  100% {
    background-position: 0px -3000px;
  }
}

@keyframes backgroundScroll {
  100% {
    background-position: 0px -3000px;
  }
}
